body{
    background-color: rgba(245, 100, 135, 0.7)
}
#profile_image{
    border: 3px solid black;
}
.layout{


}
.layout{
    color: #5959c4;
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(150, 195, 135, 0.7)
}
.myheader{
    text-align: center;
    background-color: white;
}
